{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


    {{ form_start(form) }}
        <div class="row">
            <div class="col-12">        
                {{ form_row(form.title) }} 
            </div>
            <div class="col-12">
                {{ form_row(form.imageFile) }} 
            </div>
            <div class="col-12">        
                {{ form_row(form.content) }} 
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-end">
            <input type="submit" value="Ajouter" class="btn btn-primary btn-form">
        </div> 
        {{ form_end(form) }}
