{% extends 'base.html.twig' %}

{% block title %}Editer de {{ user_profile.user.firstname }} - Partage Ton Golf{% endblock %}

{% block body %}

<div class="settings">



    <div class="container">
        <div class="row my-2">
            <div class="col-lg-8 offset-lg-2 col-sm-12">
                <div class="card shadow-sm">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <ul class="nav">
                                <li class="p-1">
                                <a href="{{ path('user_edit_profile', {id : user_profile.id})  }}" class="nav-link text-center">
                                    userprofile
                                </a>
                                </li>
                                <li class="p-1">
                                <a href="{{ path('user_edit', {id : user_profile.id})  }}" class="nav-link text-center">
                                    user
                                </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="card-body">
                        {{ form_start(form_profile) }}
                            <h2 class="text-uppercase text-center">Paramètres Profil</h2>
                            <div class="mb-3">
                                {{ form_widget(form_profile) }}
                            </div>

                            <div class="mb-3 d-flex justify-content-end">
                                <input type="submit"value="{{ btnLabel }}" class="btn btn-primary btn-form">
                            </div> 
                          {{ form_end(form_profile) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
